* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --boxes-per-side: 16;
  --box-size: 30px;
  --shake-size: 20px;
  font-family: helvetica, arial, sans;
}

@keyframes shake {
  0% {
    transform: translateX(var(--shake-size));
  }
  50% {
    transform: translateX(calc(0-var(--shake-size)));
  }
  100% {
    transform: translateX(0);
  }
}

.shaking {
  animation: 50ms 5 alternate shake;
}

body {
  inset: 0;
  position: absolute;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

#root {
  width: calc(var(--box-size) * var(--boxes-per-side));
  height: calc(var(--box-size) * var(--boxes-per-side));
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  outline: 10px solid white;
  grid-row: 2 / 5;
  grid-column: 2 / 5;
}
#root::after {
  content: "";
  position: absolute;
  inset: -75px;
  z-index: -1;
  border-radius: 5px;
  border: 70px solid #ee0011;
  box-shadow: 10px 10px 4px 4px rgba(0, 0, 0, 0.4),
    20px 20px 20px 20px rgba(0, 0, 0, 0.1);
}

#root > * {
  width: var(--box-size);
  height: var(--box-size);
  background-color: var(--box-color, black);
  opacity: 0%;
  transition: all ease 200ms;
}

#reset,
#rainbow {
  cursor: pointer;
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.options {
  height: 100%;

  grid-row: 2 / span 3;
  grid-column: 1 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.size_slider {
  display: flex;
  flex-direction: column;
}
.size_slider > label {
  display: block;
  margin-bottom: 1em;
}
